.l_primer{
  color:white;
  background-color:red;
  border-radius:2px;
  }

.r_primer{
  color:white;
  background-color:blue;
  border-radius:2px;
}

.coi{
  color:black;
  background-color:green;
  border-radius:2px;
}

.l_primer:hover{
  background-color: #00D1D1;
}

.r_primer:hover{
  background-color: #00D1D1;
}

.tooltip {
  /*position: relative;*/
  position:absolute;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}